USE [master]
GO
/****** Object:  Database [thoitrang2]    Script Date: 12-07-2024 11:24:33 AM ******/
CREATE DATABASE [thoitrang2]

GO
USE [thoitrang2]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Anh]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Anh](
	[ID] [uniqueidentifier] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[DuongDan] [varchar](100) NOT NULL,
	[IDMauSac] [uniqueidentifier] NULL,
	[IDSanPham] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Anh] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCongs]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCongs](
	[Id] [uniqueidentifier] NOT NULL,
	[IDNhanVien] [uniqueidentifier] NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_ChamCongs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_ChatLieu] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietGioHang]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietGioHang](
	[ID] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDCTSP] [uniqueidentifier] NOT NULL,
	[IDNguoiDung] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChiTietGioHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[ID] [uniqueidentifier] NOT NULL,
	[DonGia] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDCTSP] [uniqueidentifier] NOT NULL,
	[IDHoaDon] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[ID] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDCTSP] [uniqueidentifier] NOT NULL,
	[IDPhieuNhap] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietPhieuXuat]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuXuat](
	[ID] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[IDCTSP] [uniqueidentifier] NOT NULL,
	[IDPhieuXuat] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuXuat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietSanPham]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietSanPham](
	[ID] [uniqueidentifier] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [int] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDSanPham] [uniqueidentifier] NOT NULL,
	[IDKhuyenMai] [uniqueidentifier] NULL,
	[IDMauSac] [uniqueidentifier] NOT NULL,
	[IDKichCo] [uniqueidentifier] NOT NULL,
	[Ma] [nvarchar](100) NULL,
 CONSTRAINT [PK_ChiTietSanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[ID] [uniqueidentifier] NOT NULL,
	[BinhLuan] [nvarchar](250) NULL,
	[Sao] [int] NULL,
	[TrangThai] [int] NOT NULL,
	[NgayDanhGia] [datetime] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[IDKhachHang] [uniqueidentifier] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[ID] [uniqueidentifier] NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgayThanhToan] [datetime] NULL,
	[TenNguoiNhan] [nvarchar](100) NULL,
	[SDT] [nvarchar](10) NULL,
	[Email] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[TienShip] [int] NOT NULL,
	[PhuongThucThanhToan] [nvarchar](max) NULL,
	[TrangThaiGiaoHang] [int] NOT NULL,
	[IDNhanVien] [uniqueidentifier] NULL,
	[IDVoucher] [uniqueidentifier] NULL,
	[LoaiHD] [int] NOT NULL,
	[MaHD] [nvarchar](max) NOT NULL,
	[TongTien] [int] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[NgayNhanHang] [datetime] NULL,
	[GiamGia] [int] NULL,
	[IdKhachHang] [uniqueidentifier] NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[IDKhachHang] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[GioiTinh] [int] NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [varchar](250) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[SDT] [varchar](10) NULL,
	[DiemTich] [int] NULL,
	[TrangThai] [int] NULL,
	[DaKichHoat] [bit] NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[IDKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoHang](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](250) NULL,
 CONSTRAINT [PK_KhoHang] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[GiaTri] [int] NOT NULL,
	[NgayApDung] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KichCo]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KichCo](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](10) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_KichCo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLamViecs]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLamViecs](
	[Id] [uniqueidentifier] NOT NULL,
	[IdNhanVien] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[CongViec] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_LichLamViecs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTichDiem]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTichDiem](
	[ID] [uniqueidentifier] NOT NULL,
	[Diem] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDKhachHang] [uniqueidentifier] NULL,
	[IDQuyDoiDiem] [uniqueidentifier] NOT NULL,
	[IDHoaDon] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_LichSuTichDiem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](30) NOT NULL,
	[TrangThai] [int] NOT NULL,
	[IDLoaiSPCha] [uniqueidentifier] NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MauSac]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MauSac](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[Ma] [varchar](10) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_MauSac] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[Ma] [nvarchar](10) NULL,
	[DiaChi] [nvarchar](250) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[DiaChi] [nvarchar](250) NOT NULL,
	[TrangThai] [int] NULL,
	[IDVaiTro] [uniqueidentifier] NOT NULL,
	[PassWord] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[ID] [uniqueidentifier] NOT NULL,
	[MaPN] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[IDNhanVien] [uniqueidentifier] NULL,
	[IDKhoHang] [uniqueidentifier] NULL,
	[IDNhaCungCap] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[ID] [uniqueidentifier] NOT NULL,
	[MaPX] [nvarchar](max) NOT NULL,
	[NgayTao] [datetime] NULL,
	[GhiChu] [nvarchar](100) NULL,
	[IDNhanVien] [uniqueidentifier] NULL,
	[IDKhoHang] [uniqueidentifier] NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuyDoiDiem]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuyDoiDiem](
	[ID] [uniqueidentifier] NOT NULL,
	[TiLeTichDiem] [int] NOT NULL,
	[TiLeTieuDiem] [int] NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_QuyDoiDiem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](300) NULL,
	[TrangThai] [int] NOT NULL,
	[IDLoaiSP] [uniqueidentifier] NOT NULL,
	[IDChatLieu] [uniqueidentifier] NOT NULL,
	[Ma] [nvarchar](10) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamYeuThichs]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamYeuThichs](
	[Id] [uniqueidentifier] NOT NULL,
	[IDKhachHang] [uniqueidentifier] NOT NULL,
	[IDSP] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SanPhamYeuThichs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](20) NOT NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_VaiTro] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ID] [uniqueidentifier] NOT NULL,
	[Ten] [nvarchar](50) NOT NULL,
	[HinhThucGiamGia] [int] NOT NULL,
	[SoTienCan] [int] NOT NULL,
	[GiaTri] [int] NOT NULL,
	[NgayApDung] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XepCas]    Script Date: 12-07-2024 11:24:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XepCas](
	[Id] [uniqueidentifier] NOT NULL,
	[CaLamViec] [nvarchar](max) NOT NULL,
	[IdNhanVien] [uniqueidentifier] NOT NULL,
	[NgayHieuLuc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_XepCas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230916130906_DuAnTotNghiep', N'6.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230928163807_AddPasswordNhanVien', N'6.0.21')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230930125837_UpdateThuocTinhSanPham', N'6.0.21')
GO
INSERT [dbo].[Anh] ([ID], [TrangThai], [DuongDan], [IDMauSac], [IDSanPham]) VALUES (N'acacc102-a13a-49e8-9302-02535acd1818', 1, N'bannerx243438169.png', NULL, N'91f4602b-f470-40ed-98aa-d401e8f6ce4d')
INSERT [dbo].[Anh] ([ID], [TrangThai], [DuongDan], [IDMauSac], [IDSanPham]) VALUES (N'10b38061-3679-41fd-8e34-163e120af9b3', 1, N'ao-thun-polo-nam-clubroom-43234459379244943609245246156.jpg', N'2e31b635-3164-4391-8007-cdee9e3b7d1a', N'30af833f-e6ae-4827-beec-44d2b14a1b02')
INSERT [dbo].[Anh] ([ID], [TrangThai], [DuongDan], [IDMauSac], [IDSanPham]) VALUES (N'286be5d0-3951-4cf1-ad7f-18142df0f1c0', 1, N'thun2244926629245005876.jpg', N'a5919aa2-b789-423a-b962-6d0f51673a44', N'8506c67c-ef59-47b6-a501-53ccda063ae5')
GO
INSERT [dbo].[ChamCongs] ([Id], [IDNhanVien], [Time], [Type]) VALUES (N'ae873c83-c155-4fc2-bc24-25a8897ac4f5', N'4127568f-30d8-447f-83b6-45bc740051ca', CAST(N'2024-12-01T16:31:00.1828230' AS DateTime2), N'CHECK_IN')
INSERT [dbo].[ChamCongs] ([Id], [IDNhanVien], [Time], [Type]) VALUES (N'b8201125-390f-425c-809c-4ab6185f5c8a', N'4127568f-30d8-447f-83b6-45bc740051ca', CAST(N'2024-11-26T23:25:12.5477704' AS DateTime2), N'CHECK_IN')
INSERT [dbo].[ChamCongs] ([Id], [IDNhanVien], [Time], [Type]) VALUES (N'b9bbe272-8493-411d-90bb-51f161d6ddf0', N'4127568f-30d8-447f-83b6-45bc740051ca', CAST(N'2024-12-01T16:31:03.5682562' AS DateTime2), N'CHECK_OUT')
GO
INSERT [dbo].[ChatLieu] ([ID], [Ten], [TrangThai]) VALUES (N'0282068c-edfd-4c76-a1b0-6f1698319eef', N'Lụa', 1)
INSERT [dbo].[ChatLieu] ([ID], [Ten], [TrangThai]) VALUES (N'9465dc16-11de-4b45-9094-7507f1377cb5', N'sdf', 1)
INSERT [dbo].[ChatLieu] ([ID], [Ten], [TrangThai]) VALUES (N'0d16634e-c334-40f7-a407-982447d694d0', N'Polyme', 1)
GO
INSERT [dbo].[ChiTietGioHang] ([ID], [SoLuong], [IDCTSP], [IDNguoiDung]) VALUES (N'889cd2a1-2770-4ab7-99c1-139d2909ff7c', 1, N'df1fef02-c9d6-44cd-ae31-5eac2d19a8b0', N'e106c66d-f18d-4609-8a38-08e09d68e78c')
GO
INSERT [dbo].[ChiTietHoaDon] ([ID], [DonGia], [SoLuong], [TrangThai], [IDCTSP], [IDHoaDon]) VALUES (N'bd9ba65c-817a-4cf7-b7b0-07e0421e8098', 7890, 1, 1, N'df1fef02-c9d6-44cd-ae31-5eac2d19a8b0', N'63a3febc-cc9c-47f4-a078-980971101a75')
INSERT [dbo].[ChiTietHoaDon] ([ID], [DonGia], [SoLuong], [TrangThai], [IDCTSP], [IDHoaDon]) VALUES (N'f76392a8-ae8f-46eb-356f-08dc6435f149', 5, 1, 0, N'5bd080e7-111d-4de5-9090-1af02dd4ea29', N'6df7be80-fcd4-4c86-8291-2c6d2b6c6913')
INSERT [dbo].[ChiTietHoaDon] ([ID], [DonGia], [SoLuong], [TrangThai], [IDCTSP], [IDHoaDon]) VALUES (N'f70702a5-f06c-4de5-5d5f-08dc646d38cd', 0, 2, 0, N'4ec993f8-02ef-4eb9-a795-861a491d998a', N'f8384459-e97e-44db-9973-33bc058a2a39')
GO
INSERT [dbo].[ChiTietPhieuNhap] ([ID], [SoLuong], [IDCTSP], [IDPhieuNhap]) VALUES (N'1b7daf72-fda8-4dea-966c-3d027d96842a', 2, N'f8030ab8-5391-4170-a406-1686ffd82b83', N'933ffebb-0534-4ed9-98c8-bedaf12f302d')
GO
INSERT [dbo].[ChiTietPhieuXuat] ([ID], [SoLuong], [IDCTSP], [IDPhieuXuat]) VALUES (N'a06fa9e5-e2d4-46cf-b60d-0f35260c52be', 1, N'f8030ab8-5391-4170-a406-1686ffd82b83', N'7b512e37-27c6-4fcb-96f6-1d05b3b1f475')
GO
INSERT [dbo].[ChiTietSanPham] ([ID], [SoLuong], [GiaBan], [NgayTao], [TrangThai], [IDSanPham], [IDKhuyenMai], [IDMauSac], [IDKichCo], [Ma]) VALUES (N'f8030ab8-5391-4170-a406-1686ffd82b83', 4, 99, CAST(N'2024-04-24T13:55:38.853' AS DateTime), 2, N'8e8b89f2-d437-42d2-90dc-678d1770e829', NULL, N'a5919aa2-b789-423a-b962-6d0f51673a44', N'65a264a7-1da7-4937-af45-0683563c98f3', N'SP3XANHXX')
INSERT [dbo].[ChiTietSanPham] ([ID], [SoLuong], [GiaBan], [NgayTao], [TrangThai], [IDSanPham], [IDKhuyenMai], [IDMauSac], [IDKichCo], [Ma]) VALUES (N'5bd080e7-111d-4de5-9090-1af02dd4ea29', 2, 5, CAST(N'2024-04-24T13:59:39.750' AS DateTime), 1, N'36c65db0-0379-4302-9b80-cbe624a246bc', NULL, N'a5919aa2-b789-423a-b962-6d0f51673a44', N'3c6dbcc1-78d9-4afe-b7bd-6ca99e321119', N'SP5XANHXXX')
INSERT [dbo].[ChiTietSanPham] ([ID], [SoLuong], [GiaBan], [NgayTao], [TrangThai], [IDSanPham], [IDKhuyenMai], [IDMauSac], [IDKichCo], [Ma]) VALUES (N'a2f73e18-7583-424d-866c-2f03af63e9db', 99, 70000, CAST(N'2024-04-24T13:51:39.323' AS DateTime), 2, N'8506c67c-ef59-47b6-a501-53ccda063ae5', NULL, N'5984fce1-b2f4-4b43-a2f0-30cb3ebefaec', N'1cda5b09-1fa5-4e55-86b4-9ab947992faf', N'SP2TIM10X')
GO
INSERT [dbo].[DanhGia] ([ID], [BinhLuan], [Sao], [TrangThai], [NgayDanhGia]) VALUES (N'bd9ba65c-817a-4cf7-b7b0-07e0421e8098', N'Rất oke', 4, 1, CAST(N'2024-04-24T14:23:01.673' AS DateTime))
INSERT [dbo].[DanhGia] ([ID], [BinhLuan], [Sao], [TrangThai], [NgayDanhGia]) VALUES (N'f76392a8-ae8f-46eb-356f-08dc6435f149', NULL, NULL, 0, NULL)
INSERT [dbo].[DanhGia] ([ID], [BinhLuan], [Sao], [TrangThai], [NgayDanhGia]) VALUES (N'7d95fc2b-a287-4822-1f4a-08dce07c86a6', NULL, NULL, 0, NULL)
GO
INSERT [dbo].[GioHang] ([IDKhachHang], [NgayTao]) VALUES (N'4047d69b-dadf-42bc-98b6-00aa21b39e15', CAST(N'2024-12-07T11:04:02.557' AS DateTime))
INSERT [dbo].[GioHang] ([IDKhachHang], [NgayTao]) VALUES (N'e106c66d-f18d-4609-8a38-08e09d68e78c', CAST(N'2024-04-24T15:00:16.780' AS DateTime))
INSERT [dbo].[GioHang] ([IDKhachHang], [NgayTao]) VALUES (N'992b39ef-127f-4349-9582-4336b5ecebbb', CAST(N'2024-04-24T13:21:56.553' AS DateTime))
GO
INSERT [dbo].[HoaDon] ([ID], [NgayTao], [NgayThanhToan], [TenNguoiNhan], [SDT], [Email], [DiaChi], [TienShip], [PhuongThucThanhToan], [TrangThaiGiaoHang], [IDNhanVien], [IDVoucher], [LoaiHD], [MaHD], [TongTien], [GhiChu], [NgayNhanHang], [GiamGia], [IdKhachHang]) VALUES (N'6df7be80-fcd4-4c86-8291-2c6d2b6c6913', CAST(N'2024-04-24T15:09:46.607' AS DateTime), CAST(N'2024-04-24T15:10:27.280' AS DateTime), NULL, NULL, NULL, NULL, 0, N'Tiền mặt', 6, N'2ec27ab7-5f67-4ed5-ae67-52f9c9726ebf', NULL, 1, N'HD6DF7BE80', 5, N'oke', NULL, NULL, NULL)
GO
INSERT [dbo].[KhachHang] ([IDKhachHang], [Ten], [Password], [GioiTinh], [NgaySinh], [Email], [DiaChi], [SDT], [DiemTich], [TrangThai], [DaKichHoat]) VALUES (N'4047d69b-dadf-42bc-98b6-00aa21b39e15', N'demomail', N'$2a$10$g6EaX15CoLCujNl/cKGoleMUdG8HwJueWJxlFxf4tQLJkWFKJWjHm', NULL, NULL, N'luckydayne131@gmail.com', NULL, N'0987666665', 0, 1, 1)
INSERT [dbo].[KhachHang] ([IDKhachHang], [Ten], [Password], [GioiTinh], [NgaySinh], [Email], [DiaChi], [SDT], [DiemTich], [TrangThai], [DaKichHoat]) VALUES (N'e106c66d-f18d-4609-8a38-08e09d68e78c', N'demokhach', N'$2a$10$PhDDuYK38CoB3cMlrVHghOwYn4J4Wa4c/RCVXUhzutnNmdxLR2AiC', NULL, NULL, N'demokhach@gmail.com', NULL, N'0987654327', 789, 1, 1)
INSERT [dbo].[KhachHang] ([IDKhachHang], [Ten], [Password], [GioiTinh], [NgaySinh], [Email], [DiaChi], [SDT], [DiemTich], [TrangThai], [DaKichHoat]) VALUES (N'992b39ef-127f-4349-9582-4336b5ecebbb', N'admin2', N'$2a$10$PhDDuYK38CoB3cMlrVHghOwYn4J4Wa4c/RCVXUhzutnNmdxLR2AiC', NULL, NULL, N'admin2@gmail.com', NULL, N'0987654322', 14189, 1, 1)
GO
INSERT [dbo].[KhoHang] ([ID], [Ten], [DiaChi]) VALUES (N'c8b66880-7230-4002-bf2e-6c4cbb1dcf30', N'Kho Long An', N'Long An')
INSERT [dbo].[KhoHang] ([ID], [Ten], [DiaChi]) VALUES (N'b1765072-64da-4eea-9049-9afd986405dc', N'Kho Hồ Chí Minh', N'TP HCM')
INSERT [dbo].[KhoHang] ([ID], [Ten], [DiaChi]) VALUES (N'59ea6234-e83b-420d-9de0-c9820f65c541', N'Kho Hà Nội', N'Hà Nội')
GO
INSERT [dbo].[KhuyenMai] ([ID], [Ten], [GiaTri], [NgayApDung], [NgayKetThuc], [MoTa], [TrangThai]) VALUES (N'9f167f3a-8deb-4dd1-9bbd-213b8f377e40', N'KM01', 100000, CAST(N'2024-04-24T13:28:00.000' AS DateTime), CAST(N'2024-04-27T13:28:00.000' AS DateTime), N'km 30/4', 0)
INSERT [dbo].[KhuyenMai] ([ID], [Ten], [GiaTri], [NgayApDung], [NgayKetThuc], [MoTa], [TrangThai]) VALUES (N'e416bb4b-a3df-4abb-9f49-2b2ed764ee33', N'KM02', 30, CAST(N'2024-04-24T13:29:00.000' AS DateTime), CAST(N'2024-05-01T13:29:00.000' AS DateTime), N'km 30/4', 1)
GO
INSERT [dbo].[KichCo] ([ID], [Ten], [TrangThai]) VALUES (N'5e863e9f-8c80-4ea6-9903-01633155e470', N'X', 1)
INSERT [dbo].[KichCo] ([ID], [Ten], [TrangThai]) VALUES (N'65a264a7-1da7-4937-af45-0683563c98f3', N'XX', 1)
INSERT [dbo].[KichCo] ([ID], [Ten], [TrangThai]) VALUES (N'5c33b977-5f2f-4abf-9f88-0934fbe6bbd5', N'S', 1)
GO
INSERT [dbo].[LichLamViecs] ([Id], [IdNhanVien], [Date], [CongViec], [TrangThai]) VALUES (N'faeb1988-cafa-4a61-9138-08dd1095f294', N'4127568f-30d8-447f-83b6-45bc740051ca', CAST(N'2024-11-29T00:00:00.0000000' AS DateTime2), N'Nhập hàng', N'CHUA_LAM')
GO
INSERT [dbo].[LichSuTichDiem] ([ID], [Diem], [TrangThai], [IDKhachHang], [IDQuyDoiDiem], [IDHoaDon]) VALUES (N'5363bcd8-0720-41ce-8f0a-061a93ba4c2c', 0, 1, N'e8e5a3e5-b99c-48b0-bb9d-f979e97e4ed5', N'16bd37c4-cef0-4e92-9bb5-511c43d99037', N'94d65985-d90a-4bcf-b229-84add5975905')
INSERT [dbo].[LichSuTichDiem] ([ID], [Diem], [TrangThai], [IDKhachHang], [IDQuyDoiDiem], [IDHoaDon]) VALUES (N'e9348725-52c5-4318-d797-08dc62a83aaf', 0, 3, N'e8e5a3e5-b99c-48b0-bb9d-f979e97e4ed5', N'16bd37c4-cef0-4e92-9bb5-511c43d99037', N'55ceffa5-5672-4007-9d47-5e3273213f54')
INSERT [dbo].[LichSuTichDiem] ([ID], [Diem], [TrangThai], [IDKhachHang], [IDQuyDoiDiem], [IDHoaDon]) VALUES (N'69aec725-41e7-4a86-d798-08dc62a83aaf', 0, 3, N'e8e5a3e5-b99c-48b0-bb9d-f979e97e4ed5', N'16bd37c4-cef0-4e92-9bb5-511c43d99037', N'5a58b00e-7eee-466e-849d-b89f6e7eb012')
GO
INSERT [dbo].[LoaiSP] ([ID], [Ten], [TrangThai], [IDLoaiSPCha]) VALUES (N'5129cf40-bb8d-4c8c-882e-05d1d42ac249', N'h', 1, N'74e6e566-49cc-4e46-5697-08dc6427b0c9')
INSERT [dbo].[LoaiSP] ([ID], [Ten], [TrangThai], [IDLoaiSPCha]) VALUES (N'fcf6ab02-0a69-44e3-696f-08dc62a55ede', N'Áo nam', 1, NULL)
INSERT [dbo].[LoaiSP] ([ID], [Ten], [TrangThai], [IDLoaiSPCha]) VALUES (N'552c8672-00c2-481e-6970-08dc62a55ede', N'Áo khoác', 1, N'fcf6ab02-0a69-44e3-696f-08dc62a55ede')
GO
INSERT [dbo].[MauSac] ([ID], [Ten], [Ma], [TrangThai]) VALUES (N'5984fce1-b2f4-4b43-a2f0-30cb3ebefaec', N'Tím', N'#480cd4', 1)
INSERT [dbo].[MauSac] ([ID], [Ten], [Ma], [TrangThai]) VALUES (N'4552f6dc-53f3-4966-a4bb-5a9328e972b8', N'Xanh la', N'#8d9b27', 1)
INSERT [dbo].[MauSac] ([ID], [Ten], [Ma], [TrangThai]) VALUES (N'a5919aa2-b789-423a-b962-6d0f51673a44', N'Xanh', N'#4723fb', 1)
GO
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [Ma], [DiaChi]) VALUES (N'86adca13-a631-4ac5-b365-c02de0932050', N'Trung Quân', N'Trung Quân', N'Hà Nội')
INSERT [dbo].[NhaCungCap] ([ID], [Ten], [Ma], [DiaChi]) VALUES (N'26c20a91-f500-4710-a018-e665d013e4c6', N'Kaola', N'Kaola', N'Hà Nội')
GO
INSERT [dbo].[NhanVien] ([ID], [Ten], [Email], [SDT], [DiaChi], [TrangThai], [IDVaiTro], [PassWord]) VALUES (N'4127568f-30d8-447f-83b6-45bc740051ca', N'nhanvien', N'nhanvien@gmail.com', N'0987654322', N'hcm vn', 1, N'952c1a5d-74ff-4daf-ba88-135c5440809c', N'$2a$10$PhDDuYK38CoB3cMlrVHghOwYn4J4Wa4c/RCVXUhzutnNmdxLR2AiC')
INSERT [dbo].[NhanVien] ([ID], [Ten], [Email], [SDT], [DiaChi], [TrangThai], [IDVaiTro], [PassWord]) VALUES (N'2ec27ab7-5f67-4ed5-ae67-52f9c9726ebf', N'Admin', N'admin@gmail.com', N'0985143915', N'Ha Noi', 1, N'b4996b2d-a343-434b-bfe9-09f8efbb3852', N'$2a$10$PhDDuYK38CoB3cMlrVHghOwYn4J4Wa4c/RCVXUhzutnNmdxLR2AiC')
INSERT [dbo].[NhanVien] ([ID], [Ten], [Email], [SDT], [DiaChi], [TrangThai], [IDVaiTro], [PassWord]) VALUES (N'203ea2b2-ac6a-401c-809b-d42562904a0d', N'Thủ kho', N'thukho@gmail.com', N'0977779992', N'Hà Nội', 1, N'152c1a5d-74ff-4daf-ba88-135c5440809c', N'$2a$10$PhDDuYK38CoB3cMlrVHghOwYn4J4Wa4c/RCVXUhzutnNmdxLR2AiC')
GO
INSERT [dbo].[PhieuNhap] ([ID], [MaPN], [NgayTao], [GhiChu], [IDNhanVien], [IDKhoHang], [IDNhaCungCap]) VALUES (N'933ffebb-0534-4ed9-98c8-bedaf12f302d', N'PN0001', CAST(N'2024-10-15T00:53:00.000' AS DateTime), N'Phiếu nhập', N'4127568f-30d8-447f-83b6-45bc740051ca', N'c8b66880-7230-4002-bf2e-6c4cbb1dcf30', N'86adca13-a631-4ac5-b365-c02de0932050')
GO
INSERT [dbo].[PhieuXuat] ([ID], [MaPX], [NgayTao], [GhiChu], [IDNhanVien], [IDKhoHang]) VALUES (N'7b512e37-27c6-4fcb-96f6-1d05b3b1f475', N'PX0001', CAST(N'2024-10-01T00:54:00.000' AS DateTime), N'Phiếu xuất', N'4127568f-30d8-447f-83b6-45bc740051ca', N'c8b66880-7230-4002-bf2e-6c4cbb1dcf30')
GO
INSERT [dbo].[QuyDoiDiem] ([ID], [TiLeTichDiem], [TiLeTieuDiem], [TrangThai]) VALUES (N'16bd37c4-cef0-4e92-9bb5-511c43d99037', 0, 0, 0)
INSERT [dbo].[QuyDoiDiem] ([ID], [TiLeTichDiem], [TiLeTieuDiem], [TrangThai]) VALUES (N'6c81401d-2d54-43c6-b31b-d8a290a445c6', 10, 10, 2)
GO
INSERT [dbo].[SanPham] ([ID], [Ten], [MoTa], [TrangThai], [IDLoaiSP], [IDChatLieu], [Ma]) VALUES (N'adadf1c6-22d3-468a-85a9-2c95c6018d2a', N'Quần tây', N'Thân: 97% Bông, 3% Elastan/ Vải Túi: 65% Polyeste, 35% Bông', 1, N'3d2d0216-52d0-4e45-5699-08dc6427b0c9', N'0d16634e-c334-40f7-a407-982447d694d0', N'SP4')
INSERT [dbo].[SanPham] ([ID], [Ten], [MoTa], [TrangThai], [IDLoaiSP], [IDChatLieu], [Ma]) VALUES (N'30af833f-e6ae-4827-beec-44d2b14a1b02', N'Áo Thun Ngắn Tay KJYT', N'a', 1, N'581494fd-6306-4821-5698-08dc6427b0c9', N'7dda73f2-aae5-4659-8a86-f7f67c812dc9', N'SP6')
INSERT [dbo].[SanPham] ([ID], [Ten], [MoTa], [TrangThai], [IDLoaiSP], [IDChatLieu], [Ma]) VALUES (N'7afc9070-d015-42a0-9f5f-4af55925eebd', N'demo', N'sdf', 0, N'5129cf40-bb8d-4c8c-882e-05d1d42ac249', N'9465dc16-11de-4b45-9094-7507f1377cb5', N'SP9')
GO
INSERT [dbo].[SanPhamYeuThichs] ([Id], [IDKhachHang], [IDSP], [Date]) VALUES (N'b30405da-2f71-47db-2e9e-08dd11eab1d1', N'e106c66d-f18d-4609-8a38-08e09d68e78c', N'36c65db0-0379-4302-9b80-cbe624a246bc', CAST(N'2024-12-01T16:29:45.9366682' AS DateTime2))
GO
INSERT [dbo].[VaiTro] ([ID], [Ten], [TrangThai]) VALUES (N'b4996b2d-a343-434b-bfe9-09f8efbb3852', N'Admin', 1)
INSERT [dbo].[VaiTro] ([ID], [Ten], [TrangThai]) VALUES (N'152c1a5d-74ff-4daf-ba88-135c5440809c', N'Thủ kho', 1)
INSERT [dbo].[VaiTro] ([ID], [Ten], [TrangThai]) VALUES (N'952c1a5d-74ff-4daf-ba88-135c5440809c', N'Nhân viên', 1)
GO
INSERT [dbo].[Voucher] ([ID], [Ten], [HinhThucGiamGia], [SoTienCan], [GiaTri], [NgayApDung], [NgayKetThuc], [SoLuong], [MoTa], [TrangThai]) VALUES (N'dcf1de69-a1ec-489e-90eb-559d4d17dc7e', N'VC01', 1, 50000, 20, CAST(N'2024-04-24T13:30:00.000' AS DateTime), CAST(N'2024-04-27T13:30:00.000' AS DateTime), 98, N'km 30/4', 1)
GO
INSERT [dbo].[XepCas] ([Id], [CaLamViec], [IdNhanVien], [NgayHieuLuc]) VALUES (N'5279f1fd-0415-4dde-9865-08dd11d526a3', N'Ca1', N'4127568f-30d8-447f-83b6-45bc740051ca', CAST(N'2024-12-01T00:00:00.0000000' AS DateTime2))
GO
ALTER TABLE [dbo].[Anh] ADD  DEFAULT ('') FOR [DuongDan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [LoaiHD]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'') FOR [MaHD]
GO
ALTER TABLE [dbo].[NhanVien] ADD  DEFAULT (N'') FOR [PassWord]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [IDChatLieu]
GO
ALTER TABLE [dbo].[Anh]  WITH CHECK ADD  CONSTRAINT [FK_Anh_MauSac_IDMauSac] FOREIGN KEY([IDMauSac])
REFERENCES [dbo].[MauSac] ([ID])
GO
ALTER TABLE [dbo].[Anh] CHECK CONSTRAINT [FK_Anh_MauSac_IDMauSac]
GO
ALTER TABLE [dbo].[Anh]  WITH CHECK ADD  CONSTRAINT [FK_Anh_SanPham_IDSanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
GO
ALTER TABLE [dbo].[Anh] CHECK CONSTRAINT [FK_Anh_SanPham_IDSanPham]
GO
ALTER TABLE [dbo].[ChamCongs]  WITH CHECK ADD  CONSTRAINT [FK_ChamCongs_NhanVien_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChamCongs] CHECK CONSTRAINT [FK_ChamCongs_NhanVien_IDNhanVien]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_ChiTietSanPham_IDCTSP] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_ChiTietSanPham_IDCTSP]
GO
ALTER TABLE [dbo].[ChiTietGioHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietGioHang_GioHang_IDNguoiDung] FOREIGN KEY([IDNguoiDung])
REFERENCES [dbo].[GioHang] ([IDKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietGioHang] CHECK CONSTRAINT [FK_ChiTietGioHang_GioHang_IDNguoiDung]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_ChiTietSanPham_IDCTSP] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_ChiTietSanPham_IDCTSP]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_ChiTietSanPham_IDCTSP] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_ChiTietSanPham_IDCTSP]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap_IDPhieuNhap] FOREIGN KEY([IDPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_PhieuNhap_IDPhieuNhap]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuat_ChiTietSanPham_IDCTSP] FOREIGN KEY([IDCTSP])
REFERENCES [dbo].[ChiTietSanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_ChiTietPhieuXuat_ChiTietSanPham_IDCTSP]
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuXuat_PhieuXuat_IDPhieuXuat] FOREIGN KEY([IDPhieuXuat])
REFERENCES [dbo].[PhieuXuat] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietPhieuXuat] CHECK CONSTRAINT [FK_ChiTietPhieuXuat_PhieuXuat_IDPhieuXuat]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_KhuyenMai_IDKhuyenMai] FOREIGN KEY([IDKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([ID])
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_KhuyenMai_IDKhuyenMai]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_KichCo_IDKichCo] FOREIGN KEY([IDKichCo])
REFERENCES [dbo].[KichCo] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_KichCo_IDKichCo]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_MauSac_IDMauSac] FOREIGN KEY([IDMauSac])
REFERENCES [dbo].[MauSac] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_MauSac_IDMauSac]
GO
ALTER TABLE [dbo].[ChiTietSanPham]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietSanPham_SanPham_IDSanPham] FOREIGN KEY([IDSanPham])
REFERENCES [dbo].[SanPham] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietSanPham] CHECK CONSTRAINT [FK_ChiTietSanPham_SanPham_IDSanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien_IDNhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Voucher_IDVoucher] FOREIGN KEY([IDVoucher])
REFERENCES [dbo].[Voucher] ([ID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Voucher_IDVoucher]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_GioHang_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[GioHang] ([IDKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_GioHang_IDKhachHang]
GO
ALTER TABLE [dbo].[LichLamViecs]  WITH CHECK ADD  CONSTRAINT [FK_LichLamViecs_NhanVien_IdNhanVien] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichLamViecs] CHECK CONSTRAINT [FK_LichLamViecs_NhanVien_IdNhanVien]
GO
ALTER TABLE [dbo].[LichSuTichDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTichDiem_HoaDon_IDHoaDon] FOREIGN KEY([IDHoaDon])
REFERENCES [dbo].[HoaDon] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTichDiem] CHECK CONSTRAINT [FK_LichSuTichDiem_HoaDon_IDHoaDon]
GO
ALTER TABLE [dbo].[LichSuTichDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTichDiem_KhachHang_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
GO
ALTER TABLE [dbo].[LichSuTichDiem] CHECK CONSTRAINT [FK_LichSuTichDiem_KhachHang_IDKhachHang]
GO
ALTER TABLE [dbo].[LichSuTichDiem]  WITH CHECK ADD  CONSTRAINT [FK_LichSuTichDiem_QuyDoiDiem_IDQuyDoiDiem] FOREIGN KEY([IDQuyDoiDiem])
REFERENCES [dbo].[QuyDoiDiem] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichSuTichDiem] CHECK CONSTRAINT [FK_LichSuTichDiem_QuyDoiDiem_IDQuyDoiDiem]
GO
ALTER TABLE [dbo].[LoaiSP]  WITH CHECK ADD  CONSTRAINT [FK_LoaiSP_LoaiSP_IDLoaiSPCha] FOREIGN KEY([IDLoaiSPCha])
REFERENCES [dbo].[LoaiSP] ([ID])
GO
ALTER TABLE [dbo].[LoaiSP] CHECK CONSTRAINT [FK_LoaiSP_LoaiSP_IDLoaiSPCha]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_VaiTro_IDVaiTro] FOREIGN KEY([IDVaiTro])
REFERENCES [dbo].[VaiTro] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_VaiTro_IDVaiTro]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_KhoHang_IDKhoHang] FOREIGN KEY([IDKhoHang])
REFERENCES [dbo].[KhoHang] ([ID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_KhoHang_IDKhoHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhaCungCap_IDNhaCungCap] FOREIGN KEY([IDNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([ID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhaCungCap_IDNhaCungCap]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien_IDNhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_KhoHang_IDKhoHang] FOREIGN KEY([IDKhoHang])
REFERENCES [dbo].[KhoHang] ([ID])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_KhoHang_IDKhoHang]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_PhieuXuat_NhanVien_IDNhanVien] FOREIGN KEY([IDNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PhieuXuat_NhanVien_IDNhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ChatLieu_IDChatLieu] FOREIGN KEY([IDChatLieu])
REFERENCES [dbo].[ChatLieu] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ChatLieu_IDChatLieu]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP_IDLoaiSP] FOREIGN KEY([IDLoaiSP])
REFERENCES [dbo].[LoaiSP] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP_IDLoaiSP]
GO
ALTER TABLE [dbo].[SanPhamYeuThichs]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamYeuThichs_KhachHang_IDKhachHang] FOREIGN KEY([IDKhachHang])
REFERENCES [dbo].[KhachHang] ([IDKhachHang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamYeuThichs] CHECK CONSTRAINT [FK_SanPhamYeuThichs_KhachHang_IDKhachHang]
GO
ALTER TABLE [dbo].[XepCas]  WITH CHECK ADD  CONSTRAINT [FK_XepCas_NhanVien_IdNhanVien] FOREIGN KEY([IdNhanVien])
REFERENCES [dbo].[NhanVien] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XepCas] CHECK CONSTRAINT [FK_XepCas_NhanVien_IdNhanVien]
GO
USE [master]
GO
