<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Báo cáo sản phẩm</title>
    <!-- Link to the print stylesheet -->
    <link rel="stylesheet" media="print" href="~/Admin/css/print.css" />
</head>
<body>
    <main>
        <section>
            @RenderBody()
        </section>
    </main>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>